{% if is_paginated %}
<style>
  .pagination {
    display: flex !important;
    justify-content: center;
    margin-top: 1rem;
    align-items: center !important;
  }
  .disabled>.page-link, .page-link.disabled {
    color: var(--bg);
    pointer-events: none;
    background-color: var(--color-primary);
    border-color: var(--bg);
  }
  .page-link{
    font-size: .8rem;
  }
</style>
  <nav class="mt-4">
    <ul class="pagination justify-content-center align-items-center">
      {% if prev_url %}
        <li class="page-item">
          <a class="page-item btn btn-sm btn-outline-primary me-2" href="?{{ prev_url }}">Précédent</a>
        </li>
      {% endif %}

      <li class="page-item disabled">
        <span class="page-link">Page {{ page_obj.number }}/{{ paginator.num_pages }}</span>
      </li>

      {% if next_url %}
        <li class="page-item">
          <a class="page-item btn btn-sm btn-outline-primary ms-2" href="?{{ next_url }}">Suivant</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}